.newsletter {
  background: var(--color-light-blue);
  color: var(--color-heading);
  text-align: center;
  padding: 4rem 2rem;
}

.newsletter h2 {
  font-size: 2rem;
  font-weight: 700;
}

.form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1.5rem;
}

.form input {
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  width: 250px;
  color: var(--color-heading);
}

.button {
  background: var(--color-background);
  color: var(--color-text);
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
.button:hover {
  background: var(--color-heading);
}
