.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2.5rem;       
  background-color: #1E4B85;    
  color: #ffffff;            
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 2px solid #F5E24D; 
  font-size: 1.05rem;           
}

.navLeft {
  display: flex;
  align-items: center;
  gap: 2.5rem;                 
}

.navLinks {
  display: flex;
  list-style: none;
  gap: 2rem;                    
  align-items: center;
}

.navLinks li a {
  text-decoration: none;
  color: #ffffff; 
  font-weight: 600;              
  transition: color 0.3s ease;
  font-size: 1.1rem;             
}

.navLinks li a:hover {
  color: #F5E24D; 
}

.navRight {
  display: flex;
  align-items: center;
  gap: 0.8rem;                   
}


.searchInput {
  padding: 8px 12px;             
  border: 1px solid #1E4B85;
  border-radius: 5px;
  background-color: #ffffff;
  color: #1E4B85;
  font-size: 1rem;              
}

.searchInput::placeholder {
  color: #555;
}

.searchBtn {
  padding: 8px 16px;             
  background: #F5E24D;
  color: #1E4B85;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;               
  transition: background 0.3s ease;
}

.searchBtn:hover {
  background: #d4c300; 
}
